body {
  background-color: #20242f;
  margin: 20px;
}

header {
  display: flex;
}

header h2 {
  color: white;
  margin-left: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.text-orange {
  color: #fec465;
}

.card-column {
  color: white;
  display: flex;
  gap: 20px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
